

%roboto-300{
  font-family: 'Roboto-Light', sans-serif;
  font-weight: 300;
}
%roboto-400 {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}
%roboto-500 {
  font-family: 'Roboto-Mediun', sans-serif;
  font-weight: 500;
}
%bebas-700 {
  font-family: 'Bebas-neue-bold', sans-serif;
  font-weight: 700;
}