@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';





.header{
  background-color: #1A3D8A;
  padding: 10px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__box{
    display: flex;
    align-items: center;
  }
  &__descr{
    max-width: 128px;
    margin-left: 20px;
    font-size: 12px;
    line-height: 14px;
  }
}

.menu{

  &__list{
    display: flex;
  }
  &__item{
    padding: 0 25px;
  }
  &__link{
    color: #fff;
    transition: all .5s;
    &:hover{
      color: #00BF96;
    }
  }
}

.phone{
  display: flex;
  align-items: center;
  &__link{
    margin-right: 10px;
    color: #fff;
    letter-spacing: 2%;
  }
}








.footer{
  color: #212121;
  padding: 55px 0 95px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__contact{
    max-width: 470px;
    width: 100%;
  }
  &__tel{
    color: #212121;
    font-size: 19px;
    @extend %roboto-500;
    letter-spacing: 0.02em;
    margin-right: 50px;
  }
  &__contact-box{
  margin-top: 18px;
  margin-bottom: 85px;
  }
  &__call{
    @extend %btn;
    padding-right: 50px;
    padding-left: 50px;
  }
  &__box{
    display: flex;
    align-items: center;
  }
  &__logo-descr{
    max-width: 128px;
    color: #212121;
    margin-left: 20px;
    font-size: 12px;
    line-height: 14px;
    opacity: 0.7;
  }

  &__mail-item{
    max-width: 195px;
    width: 100%;
  }
  &__mail{
    padding-left: 45px;
    font-size: 17px;
    @extend %roboto-500;
    line-height: 60px;
    position: relative;
    margin-bottom: 85px;
    &::before{
      content: '';
      position: absolute;
      background-image: url('../images/mail-icon.svg');
      width: 36px;
      height: 25px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__licenzion{
    color: #212121;
    opacity: 0.7;
    font-size: 13px;
  }
  &__location{
    max-width: 305px;
  }
  &__adress{
    font-size: 17px;
    letter-spacing: 0.02em;
    line-height: 27px;
    margin-bottom: 90px;
    font-style: normal;
  }
  &__politic{
    font-size: 13px;
    color: #212121;
    opacity: 0.7;
  }
}
@import 'media';