@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';





.header{
  background-color: #1A3D8A;
  padding: 10px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__box{
    display: flex;
    align-items: center;
  }
  &__descr{
    max-width: 128px;
    margin-left: 20px;
    font-size: 12px;
    line-height: 14px;
  }
}

.menu{

  &__list{
    display: flex;
  }
  &__item{
    padding: 0 25px;
  }
  &__link{
    color: #fff;
    transition: all .5s;
    &:hover{
      color: #00BF96;
    }
  }
}

.phone{
  display: flex;
  align-items: center;
  &__link{
    margin-right: 10px;
    color: #fff;
    letter-spacing: 2%;
  }
}



.order{
  padding: 30px 0;
  background: radial-gradient(41.38% 45.54% at 67.19% 69.34%, #406AC8 0%, #1A3D8A 100%);
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
  }
  &__info{
    max-width: 390px;
  }
  &__title{
    @extend %bebas-700;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 30px;
  }
  &__descr{
    margin-bottom: 40px;
  }
  &__btn{
    @extend %btn;
    padding: 15px 52px;
  }
}

.use{
  padding: 70px 0;
  &__title{
    margin-bottom: 20px;
  }
  &__descr{
    margin-bottom: 50px;
  }
  &__wrapper{
    display: flex;
    flex-wrap: wrap;
    column-gap: 250px;
    row-gap: 40px;
  }
  &__item{
    max-width: 230px;
    width: 100%;
    color: #212121;
  }
  &__name{
    padding-left: 43px;
    padding-bottom: 57px;
    padding-top: 43px;
    font-size: 20px;
    line-height: 20px;
    @extend %bebas-700;
    text-transform: uppercase;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      left: 0;
      top: 18px;
      width: 68px;
      height: 70px;
      background-image: url('../images/use/circle.svg');
    }
  }
  &__text{

  }
}


.keys{
   background-color: #00BF96;
   padding: 70px 0;
   &__title{
     text-align: left;
     color: #fff;
     margin-bottom: 50px;
   }
   &__item{
     background-color: #fff;
     color: #212121;
     display: flex;
     padding: 50px;
     min-height: 450px;
   }
   &__img{
     max-width: 300px;
     width: 100%;
     margin-right: 50px;
     height: 100%;
     position: relative;
   }
   &__slider-nums{
     position: absolute;
     left: 155px;
     bottom: -4px;
     color: #333333;
     @extend %roboto-500;
     font-size: 19px;
     line-height: 27px;
     z-index: 999;
   }
   &__name{
     @extend %roboto-500;
     color: #1A3D8A;
     margin-bottom: 45px;
   }
   &__img-box{
     padding-bottom: 60px;
     img{
       width: 300px;
       height: 300px;
     }
   }
   &__text-box{
     max-width: 745px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
   }
   &__task{
     @extend %roboto-500;
     margin-bottom: 20px; 
   }
   &__text{
     @extend %roboto-300;
     font-size: 17px;
     line-height: 27px;
     margin-bottom: 50px;
   }
   &__btn{
     margin-top: auto;
     @extend %btn;
     padding: 15px 60px;
     background-color: #1A3D8A;
     position: relative;
     transition: all .5s;
     &:hover{
       background-color: #4074E4;
     }
   }
   &__sevices{
     font-size: 19px;
     @extend %roboto-500;
     margin-top: 30px;
     text-decoration: underline;
     display: inline-block;
   }

   .slick-prev,
   .slick-next{
      background-color: transparent;
      border: none;
      cursor: pointer;
      bottom: 43px;
      position: absolute;
   }
     .slick-next{
       left: 290px;
     }
     .slick-prev{
      left: 50px;
      z-index: 10;
     }
    button.slick-disabled {
      path {
        fill: #C4C4C4;
      }
    }
     .slick-dots{
       display: flex;
       position: absolute;
       bottom: 45px;
       left: 170px;
       li{
         display: none;
         &::after{
           content: '/';
           color: #333333;
           @extend %roboto-500;
           font-size: 19px;
           line-height: 27px;
         }
         button{
           background-color: transparent;
           border: none;
           color: #333333;
           @extend %roboto-500;
           font-size: 19px;
           line-height: 27px;
         }
        //  &:nth-child(1){
        //    display: block;
        //  }
        &.slick-active{
          display: block;
        }
       }
     }
     
}



.footer{
  color: #212121;
  padding: 55px 0 95px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__contact{
    max-width: 470px;
    width: 100%;
  }
  &__tel{
    color: #212121;
    font-size: 19px;
    @extend %roboto-500;
    letter-spacing: 0.02em;
    margin-right: 50px;
  }
  &__contact-box{
  margin-top: 18px;
  margin-bottom: 85px;
  }
  &__call{
    @extend %btn;
    padding-right: 50px;
    padding-left: 50px;
  }
  &__box{
    display: flex;
    align-items: center;
  }
  &__logo-descr{
    max-width: 128px;
    color: #212121;
    margin-left: 20px;
    font-size: 12px;
    line-height: 14px;
    opacity: 0.7;
  }

  &__mail-item{
    max-width: 195px;
    width: 100%;
  }
  &__mail{
    padding-left: 45px;
    font-size: 17px;
    @extend %roboto-500;
    line-height: 60px;
    position: relative;
    margin-bottom: 85px;
    &::before{
      content: '';
      position: absolute;
      background-image: url('../images/mail-icon.svg');
      width: 36px;
      height: 25px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__licenzion{
    color: #212121;
    opacity: 0.7;
    font-size: 13px;
  }
  &__location{
    max-width: 305px;
  }
  &__adress{
    font-size: 17px;
    letter-spacing: 0.02em;
    line-height: 27px;
    margin-bottom: 90px;
    font-style: normal;
  }
  &__politic{
    font-size: 13px;
    color: #212121;
    opacity: 0.7;
  }
}
@import 'media';